{% extends "layout.njk" %}

    {% block head %}
        <title>Conteúdos - Rocketseat</title>

        <link rel="stylesheet" href="/courses.css">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% endblock %}

    {% block content %}

    <div id="wrapper">
        <h1>Conteúdos</h1>
    </div>

    <section class="cards">
        {% for item in items %}
        <div class="card" id="{{ item.id }}">

            <div class="card_image-container">
                <img src="https://storage.googleapis.com/golden-wind/bootcamp-launchbase/assets/{{ item.id }}.svg" alt="Imagem do {{ item.id }}">
            </div>

            <div class="card_content">
                <p>{{ item.description }}</p>
            </div>

            <div class="card_info">
                <p class="number_of_modules">{{ item.numberOfModules }}</p>
                <p class="price {{ item.id }}">{{ item.price }}</p>
            </div>
        </div>
        {% endfor %}
    </section>

    <script src="/courses.js"></script>

{% endblock %}
