{% extends "layout.njk" %}

    {% block head %}
        <title>Conteúdos - Rocketseat</title>

        <link rel="stylesheet" href="/courses.css">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% endblock %}

    {% block content %}

    <section class="courses-description">

        <div class="card" id="{{ item.id }}">
            <div class="card_course-container">
                <iframe src="http://www.rocketseat.com.br/{{item.id}}" frameborder="0"></iframe>
            </div>
        </div>
    </section>
    {% endblock %}
