{% extends "layout.njk" %}

    {% block head %}
        <title>error 404</title>
        <link rel="stylesheet" href="/not-found.css">
    {% endblock %}

    {% block content %}

    <div class="error">
        <h2>Página não encontrada :(</h2>

        <img src="https://image.flaticon.com/icons/svg/702/702576.svg" alt="Error 404 - Página não encontrada">


    </div>

    {% endblock %}
