:root {
    --primary-color: #7159c1;

}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: linear-gradient(to right, #9d80ff, var(--primary-color));
    font-family: 'Roboto', sans-serif;
    color: white;
}

header {
    background-color: var(--primary-color);
    margin: 0;
    padding: 30px;
    border: 1px solid #333;
}

.links {
    text-align: center;
}

.links a {
    color: white;
    font-size: 20px;
    line-height: 30px;
    margin: 0 20px;
    text-decoration: none;
}

.links a:hover {
    color:  lightgreen;
    transition: color 400ms;
}

.error {
    text-align: center;
    margin: 50px auto;
    max-width: 700px;

    color: #000000;

    border-radius: 20px;
}

.error img {
    width: 70%;
}

.error h2 {
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
}

.error p {
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
}
